@import "@/styles/settings/__settings";

.list_item {
  margin: 50px 0;
  color: $bgGrey;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 5;
}

.list_item__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // flex-wrap: wrap;
}
